.movie-container {
  text-align: center;
  padding: 20px;
  background-color: aqua;
  border: 1px solid black;
}

.movie-title {
  font-size: 24px;
  margin-bottom: 10px;
  font: bolder;
  text-align: center;
  padding: 20px;
  background-color: aqua;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.series {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.movie-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: aqua;
  border-radius: 10px;
}
